{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<div class="wrapper">
  <div class="box box-back">
    <first_big>Find your's inspiration</first_big>
  </div>
  <div class="box box-front">
      <img src="static/img/nature_1.jpeg" />
  </div>
  <div class="box box-back" style="margin-top:75%">
    <first_big style="font-size: 20pt;">And we'll help you</first_big>
    <br>
    <first_big style="font-size: 20pt;">@Developers</first_big>
  </div>
</div>


{% endblock %}