{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<br>
<div class="wrapper" >
    <div class="box box-back" style="margin-left: 40pt; margin-right: 40pt">
    <first_big style="font-size: 20pt; margin-left: 20pt">This site was created to help designers. Offer them interesting ideas, help them choose colors.
    When you log in, you need to register and log in to your account.
    When you click on the 3 bars, a navigation panel opens in which several functions are presented.
        Our contacts are listed in the upper right corner.</first_big>


    </div>
  <div class="box box-front">
  </div>
</div>
{% endblock %}