{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<br>
<!DOCTYPE html>
<html>
<body>


<div>
    <h1 style="font-size: 350%; text-align: center">Choose a theme of the inspiration</h1>
    <h2>⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀⠀​⠀​⠀⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀⠀​⠀​⠀⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀​⠀⠀​⠀​⠀​</h2>
    <form action="/inspiration_nature">
      <p style="text-align: center"><input type="submit" style="font-size : 100px; background-color: #3f2d8a; height: 250px; width: 500px; border-radius: 10px;"value="Nature"></p>
    </form>
    <form action="/inspiration_city">
      <p style="text-align: center"><input type="submit" style="font-size : 100px; background-color: #3f2d8a; height: 250px; width: 500px; border-radius: 10px;"value="City"></p>
    </form>
  </form>
</div>

</body>
</html>
{% endblock %}