{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<br>
<br>
<hr width=200pt>
<b style="font-size: 30pt; color:rgb(66,49,137);">Random color (to have another - reload the page)</b>
<br>
<br>
<br>

<div style='align: center; width: 1000px; height: 200px; display: inline-block;
    border:1px solid #000; background-color: rgb$$$;'></div>
<br>
<br>
<br>
<br>
<b style='display: inline-block; font-size: 30pt; color:white;'>Cohis coujouhhlor</b>
<b style='font-size: 30pt; color:rgb(66,49,137);'>Combinations whith this color:</b>
<br>
<br>

<div style="display: inline-block;
    width:200px;
    height:200px;
    border:1px solid #000;
    background-color: white;">
</div>

<div style="
    width: 200px;
    height: 200px;
    display: inline-block;border:1px solid #000;
    background-color: rgb$$$;">COL
</div>
<div style="display: inline-block;
    width:200px;
    height:200px;"></div>

<div style="
    width: 200px;
    height: 200px;
    display: inline-block;
    border:1px solid #000;
    background-color: rgb$$$;">COL</div>

<div style="display: inline-block;
    width:200px;
    height:200px;
    border:1px solid #000;
    background-color: black;">БЛОК2</div>



<div style="display: inline-block;
    width:200px;
    height:200px;
    border:1px solid #000;
    background-color: rgb***;">БЛОК3
</div>
<div style="
    width: 200px;
    height: 200px;
    display: inline-block;border:1px solid #000;
    background-color: rgb!!!;">БЛОК3
</div>

<div style="display: inline-block;
    width:200px;
    height:200px;"></div>

<div style="
    width: 200px;
    height: 200px;
    display: inline-block;
    border:1px solid #000;
    background-color: rgb###;">БЛОК4</div>

<div style="display: inline-block;
    width:200px;
    height:200px;
    border:1px solid #000;
    background-color: rgb$$$;">БЛОК4</div>

<div style="display: inline-block;
    margin-left:100px;
    width:200px;
    height:200px;
    border:1px solid #000;
    background-color: rgb$$$;">БЛОК3</div>


{% endblock %}